body

{
	 
	 background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    
}

.main
{
    height: 400px;
    width: 700px;
    background-color: rgb(128, 255, 128);
    background-size: contain;
    text-align: center;
    margin: 100px 350px;
    padding-top: 50px;
    border-radius: 50px ;
    border: #000 solid;
    justify-content: center
    
    
}
.heding
{
    color:rgb(0, 0, 0);
    
}
.input-1 .input {
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 0;
    padding: 5px 10px 7px;
    border: 1px solid transparent;
    border-bottom-color: #ccc;
    transition: 0.4s;
    background-color: #f5f6fd;
    height: 36px;
    margin-top: 20px;
  }
  
  .input-1 .input:focus {
    outline: none;
    padding: 5px 14px 7px;
    transition: 0.4s;
  }
  
  .input-1 {
    width: 300px;
    margin: 40px 30%;
    position: relative;
  }
  

  /* button */
.on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.on-hover:active {
    color: #000
}

.on-hover:active:after {
    background: transparent;
}

.on-hover:hover:before {
    opacity: 1;
}

.on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
